body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url('tile-grey.png');
	background-repeat: repeat;
	background-color: #F6F6F6;
	border-top: 8px solid #333;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
a {
	color: #333;
	text-decoration: underline;
}
a:hover {
	color: #aaa;
	text-decoration: underline;
}
h1, h2, h3, h4, h5 {
	color: #333;
}
h1 {
	font-size: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 white;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 36px;
	letter-spacing: -2px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 white;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	font-size: 26px;
	letter-spacing: -1px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 white;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 30px;
}

h4 {
	font-size: 20px;
	letter-spacing: -1px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 white;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 30px;
}

p {
	line-height: 1.5em;
	font-size: 16px;

}

.clear {
	clear: both;
}

.clear_20 {
	clear: both;
	height: 20px;
}

.clear_40 {
	clear: both;
	height: 40px;
}

.border_clear {
	clear: both;
	border: 1px solid #555;
}

.temp_80 {
	height: 80px;
}

.big_dark_grey {
	font-size: 22px;
	color: #333;
	text-shadow: 0 1px 0 white;
	line-height: 36px;
	font-weight: 500;

}
.med_med_grey {
	font-size: 18px;
	color: #333;
	font-weight: 200;
	text-shadow: 0 1px 0 white;
	line-height: 36px;

}
.center_text {
    text-align: center;
}
#header_wrapper {

}

#header {
	height: 100px;
}

#logo {
	margin-left: 0px;
	margin-right: 20px;
	margin-top: 10px;
}
#main_content {
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;

}

#main_content li {
    line-height: 1.5em;
}


#main {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#main #logo {
    margin-left: 175px;
    margin-right: 175px;
}
